{% extends "base.html" %}

{% block content %}

    hello world 
    <h1>Welcome to the Home Page</h1>
    <h2>{{ page_title }}</h2>
    <h3>{{ request.user }}  || {{request.method}}</h3>
    <div>to check the user is available ot it is an guest </div>
    {% include "snippets/welcome_userr_msg.html" %}

    <footer>
        page visits : {{ page_visit_count }}
        <br><hr>
        total page visits : {{ total_visit_count }}
        <br><hr>
        percentage of visits : {{ percent }}%
        <br><hr>
        fuck off now you seen everything that you needed to see
    </footer>

{% endblock %}  


